<!DOCTYPE html>
<html dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/layout/assets/images/favicon.png">
    <title>PMS Admin - The Ultimate Solution For Project Management</title>
    <!-- Custom CSS -->
    <link href="~/Content/layout/assets/libs/jquery-steps/jquery.steps.css" rel="stylesheet" />
    <link href="~/Content/layout/assets/libs/jquery-steps/steps.css" rel="stylesheet" />
    <link href="~/Content/layout/dist/css/style.min.css" rel="stylesheet">
    @Styles.Render("~/bootstrap/css")
</head>

<body>
    <div class="main-wrapper">
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <div class="preloader">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Login box.scss -->
        <!-- ============================================================== -->
        <div class="auth-wrapper d-flex no-block justify-content-center align-items-center bg-dark">
            <div class="auth-box bg-dark border-top border-secondary">
                @RenderBody()
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- All Required js -->
    <!-- ============================================================== -->
    @Scripts.Render("~/bootstrap/js")
    <!-- ============================================================== -->
    <!-- This page plugin js -->
    <script src="~/Content/layout/assets/libs/jquery-steps/build/jquery.steps.min.js"></script>
    <script src="~/Content/layout/assets/libs/jquery-validation/dist/jquery.validate.min.js"></script>
    <!-- ============================================================== -->
    <script>

        $('[data-toggle="tooltip"]').tooltip();
        $(".preloader").fadeOut();
        // ==============================================================
        // Login and Recover Password
        // ==============================================================
        $('#to-recover').on("click", function () {
            $("#loginform").slideUp();
            $("#recoverform").fadeIn();
        });
        $('#to-login').click(function () {
            $("#recoverform").hide();
            $("#loginform").fadeIn();
        });
    </script>
    <script>
        // Basic Example with form
    var form = $("#frmRegister");
    form.validate({
        errorPlacement: function errorPlacement(error, element) { element.before(error); },
        rules: {
            confirm: {
                equalTo: "#Password"
            }
        }
    });
</script>

</body>

</html>
